/*
 * Fonts
 ******************************************/

@import url(https://fonts.googleapis.com/css?family=Raleway:200,400|Inconsolata);

/*
 * Variables
 ******************************************/

$primary-color: #ECF2F2;
$secondary-color: $primary-color;
$background-color: rgba(0,0,0,0.8);
$border-radius: 3px;

/*
 * Animations
 ******************************************/

@keyframes blinking-caret {
    0% {
        border-right: 1px solid rgba($secondary-color, 1);
    }
    50% {
        border-right: 1px solid rgba($secondary-color, 0);
    }
    100% {
        border-right: 1px solid rgba($secondary-color, 1);
    }
}

/*
 * Global styling
 ******************************************/

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: $secondary-color;
    margin: 0;

    // Main container
    > div {
        height: 100%;
        padding: 20px;
        background-color: $background-color;
    }
}

@media (min-width: 800px) {
    body {
        background: url(../img/background.jpg) no-repeat center center fixed;
        background-size: cover;

        > div {
            width: 480px;
            margin-left: 15vw;
            overflow: hidden;
        }
    }
}

hr {
    display: block;
    width: 65px;
    height: 5px;
    background-color: $primary-color;
    border: none;
    margin-top: 40px;
}

h1, h2, h3, h4 {
    color: $primary-color;
    text-align: right;
}

