<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="stylesheet" href="_assets/css/pboutin.css">
</head>
<body>
    <div id="vue" class="container">
        <header class="wow bounceIn header">
            <h1 class="header__name">{{data.name}}</h1>
            <p class="header__quote">{{ongoingQuote}}</p>
            <p class="header__bio">{{data.bio}}</p>
        </header>

        <h1 class="wow slideInRight">Abilities</h1>

        <h2 class="wow slideInRight">Languages</h2>
        <ul class="list-unstyled">
            <li v-for="skill in data.skills.languages" class="skill wow slideInLeft">
                <p class="skill__name">{{skill.name}}</p>
                <div class="skill__progress">
                    <div class="skill__progress__bar-{{skill.level}} wow slideInLeft"
                         data-wow-delay="300ms"></div>
                </div>
            </li>
        </ul>

        <h2 class="wow slideInRight">Frameworks and tools</h2>
        <ul class="list-unstyled">
            <li v-for="skill in data.skills.misc" class="skill wow slideInLeft">
                <p class="skill__name">{{skill.name}}</p>
                <div class="skill__progress">
                    <div class="skill__progress__bar-{{skill.level}} wow slideInLeft"
                         data-wow-delay="300ms"></div>
                </div>
            </li>
        </ul>

        <hr class="wow lightSpeedIn">

        <h1 class="wow slideInRight">Experiences</h1>

        <h2 class="wow slideInRight">Jobs</h2>
        <ul class="list-unstyled">
            <li v-for="job in data.jobs" class="wow slideInLeft section">
                <h3>{{job.title}}</h3>
                <h4 class="section__info">
                    {{job.business}}
                    <span v-if="job.location" class="section__info__muted">
                        {{job.location}}
                    </span>
                </h4>
                <h4 v-for="time in job.times" class="section__info">
                    {{time}}
                </h4>
                <p class="section__description">{{job.description}}</p>
                <ul class="section__list">
                    <li v-for="task in job.tasks" class="section__list__item">
                        {{task}}
                    </li>
                </ul>

                <div class="tag-container">
                    <span v-for="tag in job.tags" class="tag-container__item">
                        {{tag}}
                    </span>
                </div>
            </li>
        </ul>

        <hr class="wow lightSpeedIn">

        <h2 class="wow slideInRight">Personal projects</h2>
        <ul class="list-unstyled">
            <li v-for="project in data.projects" class="wow slideInLeft section">
                <h3>{{project.title}}</h3>
                <p class="section__description">{{project.description}}</p>
                <a href={{project.url}} target="_blank" class="section__link">{{project.url}}</a>
                <a href={{project.git}} target="_blank" class="section__link">GitHub project</a>

                <div class="tag-container">
                    <span v-for="tag in project.tags" class="tag-container__item">
                        {{tag}}
                    </span>
                </div>
            </li>
        </ul>

        <hr class="wow lightSpeedIn">

        <h2 class="wow slideInRight">Studies</h2>
        <ul class="list-unstyled">
            <li v-for="study in data.studies" class="wow slideInLeft section">
                <h3>{{study.title}}</h3>
                <h4 class="section__info">Graduated in {{study.year}}</h4>
                <h4 class="section__info">
                    {{study.school}}
                    <span v-if="study.location" class="section__info__muted">
                        {{study.location}}
                    </span>
                </h4>
            </li>
        </ul>

        <hr class="wow lightSpeedIn">

        <h1 class="wow slideInRight">Get in touch</h1>
        <ul class="wow slideInLeft list-unstyled section">
            <li><a class="section__link" target="_blank" href="{{data.stackoverflow}}">StackOverflow</a></li>
            <li><a class="section__link" target="_blank" href="{{data.github}}">GitHub</a></li>
            <li><a class="section__link" target="_blank" href="{{data.linkedin}}">LinkedIn</a></li>

            <li><a class="section__link" href="mailto:{{data.email}}">{{data.email}}</a></li>
            <li><a class="section__link" href="tel:{{sanitizedPhone}}">{{data.phone}}</a></li>
        </ul>
    </div>

    <script type="text/javascript" src="_assets/js/pboutin.js"></script>
</body>
</html>
