---
layout: page
title: Bass tabs
---

<article>
    <div class="list-group">
        {% for tab in site.tabs %}
            <a class="list-group-item" href="{{ site.BASE_PATH }}{{ tab.url }}">
                <strong>{{ tab.artist }}</strong>
                &mdash;
                {{ tab.title }}
    
                <div class="pull-right">
                    {%if tab.youtube %}
                        <i class="fa fa-youtube"></i>
                    {% endif %}
                    {%if tab.source %}
                        <i class="fa fa-link"></i>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
</article>
