<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">Pascal's diaries</a>
    </h3>
</header>

<ul class="list-unstyled text-center bio">
	<li>Frontend freak</li>
	<li>Resistance agent</li>
	<li>Software engineering student</li>
</ul>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/pub/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>	
</div>

<div class="menu">
	<a class="btn btn-default btn-block" href="{{ site.BASE_PATH}}/categories.html"><i class="fa fa-folder"></i> Categories</a>
	<a class="btn btn-default btn-block" href="{{ site.BASE_PATH}}/tags.html"><i class="fa fa-tags"></i> Tags</a>	
</div>

