<!DOCTYPE html>
<html>

{% include _head.html %}

<body>
	<div class="col-sm-3 sidebar hidden-xs">
		<h1 class="text-center">{{ page.title }}</h1>
        <h3 class="text-center">{{ page.artist }}</h3>

        {% if page.youtube %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.youtube }}"></iframe>
            </div>
            <hr>
        {% endif %}

        <a class="btn btn-default btn-block" href="{{ site.BASE_PATH}}/tabs.html">
            <i class="fa fa-list"></i> Back to tabs
        </a>
	</div>

	<div class="col-sm-9 col-sm-offset-3">
        <h4>Tab from <a target="_blank" href="{{ page.source }}">{{ page.source }}</a></h4>
        {{ content }}
	</div>

	{% include _scripts.html %}
</body>
</html>
